{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [0],
        "func-names": [0],
        "arrow-body-style": [0],
        "no-await-in-loop": [0],
        "no-param-reassign": [0],
        "object-curly-newline": [0],
        "no-underscore-dangle": [0],
        "react/prop-types": [0],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-no-target-blank": [0],
        "react/jsx-one-expression-per-line": [0],
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "react/no-unescaped-entities": [0],
        "import/no-extraneous-dependencies": [0],
        "react/no-danger": [0],
        "quotes": ["error", "single"],
        "import/prefer-default-export": [0],
        "no-restricted-syntax": [0],
        "react/jsx-props-no-spreading": [0],
        "jsx-a11y/label-has-associated-control": [ 2, {
            "labelComponents": ["label"],
            "labelAttributes": ["htmlFor"],
            "controlComponents": ["input"]
        }]
    },
    "globals": {
        "browser"
    },
    "env": {
        "browser": true
    },
    "overrides": [
        {
            "files": ["*.graphql"],
            "parser": "@graphql-eslint/eslint-plugin",
            "plugins": ["@graphql-eslint"]
        }
    ]
}
