---
dist: trusty
language: node_js
node_js:
  - 8.11.4
install:
  - npm install
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run build
  - npm run test:ci
cache: false
branches:
  only:
    - master
