#notfound main,
#notfound aside,
#notfound section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#notfound main {
    height: 100%;
}

#notfound aside {
    background: #000;
    flex-shrink: 1;
    padding: 30px 20px;
}

#notfound aside p {
    margin: 0;
    color: #999999;
    font-size: 14px;
    line-height: 24px;
}

#notfound aside a {
    color: #fff;
    text-decoration: none;
}

#notfound section span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #EAEAEA;
    text-align: center;
    padding-bottom: 20px;
    width: 100px;
}

#notfound section p {
    font-size: 14px;
    font-weight: 400;
}

#notfound section span + p {
    margin: 20px 0 0 0;
}

@media (min-width: 768px) {
    #notfound section {
        height: 40px;
        flex-direction: row;
    }

    #notfound section span,
    #notfound section p {
        height: 100%;
        line-height: 40px;
    }

    #notfound section span {
        border-bottom: 0;
        border-right: 1px solid #EAEAEA;
        padding: 0 20px 0 0;
        width: auto;
    }

    #notfound section span + p {
        margin: 0;
        padding-left: 20px;
    }

    #notfound aside {
        padding: 50px 0;
    }

    #notfound aside p {
        max-width: 520px;
        text-align: center;
    }
}
