@import '~semantic-ui-css/semantic.min.css';

// FORK

.fork {
    display: none;
}

// STICKY FOOTER

.ui.container.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.second {
    flex: 1;
}

// SIDEBAR

.ui.inverted.menu.sidebar {
    background: linear-gradient(to bottom, #0D7478, #12CEC3);
}

// LINKS

a {
    color: teal;
}

a:hover {
    color: #006060;
}

// DESKTOP

@media only screen and (min-width: 768px) {
    .pusher > .container {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 200px;
    }

    .ui.left.overlay.sidebar {
        box-shadow: 0 0 20px rgba(34,36,38,.15);
        transform: translateZ(0);
        visibility: visible;
    }

    .ui.thin.left.sidebar {
        width: 180px;
    }

    .fork {
        display: block;
    }
}

// DROPDOWN

.ui.dropdown.icon > .text {
    display: none;
}

// CENTERED

#root, .pusher, .main {
    height: 100%;
}

// TOGGLE COLOR

.ui.toggle.checkbox input:checked ~ label::before,
.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: teal !important
}
